benchmarks/*.jsonl
data/relbench/*.materialized/
data/relbench-explicit-node-id/*

benchmarks/.relconnector-benchmark-*/
benchmarks/.online-benchmark-*/
benchmarks/.validation-*/

__pycache__/
*.egg-info/
build/
